<% provide(:title, 'Reset smtp mail') %>
<h1>Reset smtp mail</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag update_smtp_mail_path(:id => @user.id) do %>
        <%= hidden_field_tag :email, @user.email %>
        <%= hidden_field_tag :password, @user.password %>
        <%= hidden_field_tag :password_confirmation, @user.password_confirmation %>

        <%= label :user, :smtp_mail, "email server account" %>
        <%= text_field_tag  'smtp_mail', @user.smtp_mail %>

        <%= label :user, :smtp_mail_password, "email server password" %>
        <%= password_field_tag  'smtp_mail_password', @user.smtp_mail_password %>

        <%= submit_tag "Update", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>