<h1>Customers information</h1>
<table id="horses">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>phone</th>
      <th>address</th>
      <th>fax</th>
      <th>email</th>
      <th>comments</th>
    </tr>
  </thead>
  <tbody>


  <%= form_tag(owners_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search owner's name or address or email or comments or phone or fax" %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>

    <% @owners.each do |owner| %>
      <tr>
        <td>
          <%= owner.id %>
        </td>
        <td>
          <%= link_to "#{owner.name}", owner_path(owner) %>
        </td>
        <td>
          <%= owner.phone_number %>
        </td>
        <td>
          <%= owner.address %>
        </td>
        <td>
          <%= owner.fax_number %>
        </td>
        <td>
          <%= owner.email %>
        </td>
        <td>
          <%= owner.comments %>
        </td>
        <td>
          <%= button_to "Edit", edit_owner_path(owner), :method => :get %>
        </td>
        <td>
          <%= button_to "Delete", owner_path(owner), :method => :delete, :data =>{:confirm => 'Warning! Deleting customer may also remove customer\'s horses from database Sure to delete?'} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= button_to 'New Owner', new_owner_path, :method => :get %>
