<h1>Billing Summary</h1>
<div>
    <div>
        <%= link_to "<<", payment_log_path(:id => @owner.id, :type => 3, :select_time => @time - 1.months)%>
        <%= @time.strftime("%B %Y")%>
        <%= link_to ">>", payment_log_path(:id => @owner.id, :type => 3, :select_time => @time + 1.months)%>
    </div>
    <%= link_to "All History", payment_log_path(:id => @owner.id, :type => 0), class:"btn btn-default"%>
    <%= link_to "Expense", payment_log_path(:id => @owner.id, :type => 1, :select_time => @time ), class:"btn btn-default"%>
    <%= link_to "Credit", payment_log_path(:id => @owner.id, :type => 2, :select_time => @time ), class:"btn btn-default"%>
</div> 
<table id="horse_activities">
     <thead>
         <tr>
             <th>Date</th>
             <th>Horse</th>
             <th>Procedure</th>
             <th>Price</th>
             <th>Balance</th>
             <th>Comment</th>
        </tr>     
    </thead>
    <tbody>
        <% @log.each do |log| %>
            <tr>
                <td><%= log.created_at.to_date %></td>
                <td><%= log.horse_name %></td>
                <td><%= log.procedure_name %></td>
                <td><%= "$#{log.amount}" %></td>
                <td><%= "$#{log.balance}" %></td>
                <td><%= log.comment %></td>
                <td><%= link_to "delete", destroy_log_path( :id => log.id, :owner_id => @owner.id), :method => :get, :data =>{:confirm => 'Are you sure?'}, class: "btn btn-default"%></td>
            </tr>
        <% end %>
    </tbody>    
</table> 
<div>
    <div>
         Total Balance:  
        <%= "$#{@owner.balance}" %>
    </div>
    <%if !@monthlybalance.nil?%>
        <div>
            Monthly Balance :     
            <%= "$#{@monthlybalance}" %>
        </div>
    <%end%>
</div>
<div>
<%= link_to "Generate Invoice",
  download_invoice_path(:id => @owner.id, :type => 1, :select_time => @time, format: "pdf"),
  target: "_blank",
   :style => "width:150px; float left", :class => "btn btn-default"%>
</div>
<body>
    
<div>
  <button type="button"  style = "width:150px;" class="btn btn-default" data-toggle="modal" data-target="#myModal">Send Invoice</button>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Send email</h4>
        </div>
        <div class="modal-body">
          <p>
            <%= form_tag send_invoice_path(:id => @owner.id, :type => 1, :select_time => @time,format: "pdf") do%>
                <%= label :send_mail, :owner_id, "To: #{Owner.find(@owner.id).name} <#{Owner.find(@owner.id).email}>" %>
                <%= hidden_field_tag "Owner", @owner.id %>

                <%= label :send_mail, :subject, 'Subject' %>
                <%= text_field_tag  'subject' %>

                <%= label :send_mail, :content, 'Body' %>
                <%= text_area_tag 'content',nil, rows: 15 %>

                <%= submit_tag 'Send' %>

            <% end %>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>

</body>

<div>
  New Credit
  <%= form_tag('/make_payment')  do %>
      amount
      <%= text_field_tag 'amount', nil, :style => "width:100px" %>
      comment
      <%= text_field_tag 'comment', nil,  :style => "width:200px" %>
      <%= submit_tag "Make a credit",  :style => "width:150px; float left", :class => "btn btn-default"%>
      <%= hidden_field_tag "owner_id", @owner.id  %>
  <%end%>
</div>

<div>
    New Expense
        <%= form_tag('/make_credit')  do %>
          amount
            <%= text_field_tag 'amount', nil, :style => "width:100px" %>
          comment
            <%= text_field_tag 'comment', nil,  :style => "width:200px" %>
            <%= submit_tag "Add new expense",  :style => "width:150px; float left", :class => "btn btn-default"%>
            <%= hidden_field_tag "owner_id", @owner.id  %>
        <%end%>
</div>


<%= link_to "Back to customer detail", owner_path(@owner)%>