<h2>Details about Customer</h2>
<tbody>
  <tl>
    Name
    <li>
      <%= @owner.name %>
    </li>
    Phone Number
    <li>
      <%= @owner.phone_number %>
    </li>
    Fax Number
    <li>
      <%= @owner.fax_number %>
    </li>
    Address
    <li>
      <%= @owner.address %>
    </li>
    Email Address
    <li>
      <%= @owner.email %>
    </li>
    Comments
    <li>
      <%= @owner.comments %>
    </li>
    Own Horses
    <% @horses.each do |horse| %>
      <li>
        <%= link_to "#{horse.name}", horse_path(horse) %>
      </li>
    <% end %>
    Balance
        <li>
            <%= @owner.balance %>
        </li>
    New Payment 
      <%= form_tag('/make_payment')  do %>
      amount
      <%= text_field_tag "amount"%>
      comment
      <%= text_field_tag "comment" %>
      <%= submit_tag "Make Payment"%>
      <%= hidden_field_tag "owner_id", @owner.id  %>
      <%end%>

    <input type="button" value="send mail" onClick="window.open('http://www.gmail.com')">
  </tl>
</tbody>
