<h2>Details about Customer</h2>
<tbody>
  <tl>
    Name
    <li>
      <%= @owner.name %>
    </li>
    Phone Number
    <li>
      <%= @owner.phone_number %>
    </li>
    Fax Number
    <li>
      <%= @owner.fax_number %>
    </li>
    Address
    <li>
      <%= @owner.address %>
    </li>
    Email Address
    <li>
      <%= @owner.email %>
    </li>
    Comments
    <li>
      <%= @owner.comments %>
    </li>
    Own Horses
    <% @horses.each do |horse| %>
      <li>
        <%= link_to "#{horse.name}", horse_path(horse) %>
      </li>
    <% end %>
    Balance
        <li>
            <%=link_to "#{@owner.balance}", payment_log_path(:id => @owner.id) %>
        </li>
    <div>
      New Payment 
        <%= form_tag('/make_payment')  do %>
      <div>
        amount
        <%= text_field_tag 'amount', nil, :style => "width:100px" %>
        comment
        <%= text_field_tag 'comment', nil,  :style => "width:200px" %>
        <%= submit_tag "Make Payment",  :style => "width:150px; float left", :class => "btn btn-default"%>
      </div>  
        <%= hidden_field_tag "owner_id", @owner.id  %>
        <%end%>
      <input type="button" value="send mail" onClick="window.open('http://www.gmail.com')" style = "width:150px; float left">
    </div>
  </tl>
</tbody>
