<h1>Send email</h1>
<%= form_tag mail_path(:owner_id => @owner.id) do%>
      <%= label :send_mail, :owner_id, "To: #{Owner.find(@owner.id).name} <#{Owner.find(@owner.id).email}>" %>
      <%= hidden_field_tag "Owner", @owner.id %>

      <%= label :send_mail, :subject, 'Subject' %>
      <%= text_field_tag  'subject' %>

      <%= label :send_mail, :content, 'Body' %>
      <%= text_area_tag 'content',nil, rows: 15 %>

      <%= submit_tag 'Send' %>

<% end %>