<% # edit.html.haml using partial %>
<h1>Edit Horses</h1>
<%= form_tag horse_path(@horse, @owner), :method => :put do %>
  <%= label :horse, :name, 'Name' %>
  <%= text_field :horse, 'name' %>
  <%= label :horse, :age, 'Age' %>
  <%= text_field :horse, 'age' %>
  <%= label :horse, :sex, 'Sex' %>
  <%= text_field :horse, 'sex' %>
  <%= label :horse, :breed, 'Breed' %>
  <%= text_field :horse, 'breed' %>
  <%= label :horse, :owner_id, 'Owner' %>
  <%= text_field :horse, 'owner_id' %>
  <%= submit_tag 'Update Horse Info' %>
<% end %>
