<h1>Horses</h1>
<table id="horses">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Sex</th>
      <th>Breed</th>
      <th>Owner</th>
    </tr>
  </thead>
  <tbody>


  <%= form_tag(search_horses_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search horse's name or age or sex or breed" %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>

    <% @horses.each do |horse| %>
      <tr>
        <td>
          <%= link_to "#{horse.name}", horse_path(horse) %>
        </td>
        <td>
          <%= horse.age %>
        </td>
        <td>
          <%= horse.sex %>
        </td>
        <td>
          <%= horse.breed %>
        </td>
        <td>
          <%= link_to  "#{@owners.find(horse.owner_id).name}", owner_path(@owners.find(horse.owner_id)) %>
        </td>
        <td>
          <%= button_to "Edit #{horse.name}", edit_horse_path(horse, @owner), :method => :get %>
        </td>
        <td>
          <%= button_to "Delete #{horse.name}", horse_path(horse), :method => :delete,:data =>{:confirm => 'Are you sure?'} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= button_to 'New Horse', new_horse_path, :method => :get %>
