<h1>Create New Horse</h1>
<%= form_tag horses_path do %>
  <%= label :horse, :name, 'Name' %>
  <%= text_field :horse, 'name' %>
  <%= label :horse, :age, 'Age' %>
  <%= text_field :horse, 'age' %>
  <%= label :horse, :sex, 'Sex' %>
  <%= text_field :horse, 'sex' %>
  <%= label :horse, :breed, 'Breed' %>
  <%= text_field :horse, 'breed' %>
  <%= label :horse, :owner_id, 'Owner' %>
  <%= collection_select(:horse, :owner_id, Owner.all, :id, :name, {:selected => @owners.id}) %>
  <%= submit_tag 'Save' , class: "btn btn-default"%>
<% end %>
<%= button_to 'New Owner', new_owner_path, :method => :get , class: "btn btn-default"%>
