<% # in app/views/movies/show.html.haml %>
<h2>Details about Horse</h2>
<tbody>
  <tl>
    Name
    <li>
      <%= @horse.name %>
    </li>
    Age
    <li>
      <%= @horse.age %>
    </li>
    Sex
    <li>
      <%= @horse.sex %>
    </li>
    Breed
    <li>
      <%= @horse.breed %>
    </li>
    Owner
      <li>
        <%= link_to "#{@owner.name}", owner_path(@owner) %>
      </li>   
    Activities
        <% @horse_activities.each do |activity| %>
          <li>
            <%= @activities.find(activity.activity_id).name %>
            <%= activity.date %>
            <%= activity.price %>
            <%= activity.comment %>
            <%if activity.status == 1%>
                <%= "not done" %>
                <%= check_box_tag(:done) %>
                <%= label_tag(:done, 1) %>
            <% else %>
                <%= "done" %>
            <% end %>
            <%= button_to "Update", edit_horse_activity_path(activity), :method => :get %>
          </li>
        <% end %>
        <%= link_to "Add Procedure", procedure_menu_path(:horse_id => @horse.id) %>

  </tl>
</tbody>
