<% # in app/views/movies/show.html.haml %>
<h2>Details about Horse</h2>
<tbody>
  <tl>
    Name
    <li>
      <%= @horse.name %>
    </li>
    Age
    <li>
      <%= @horse.age %>
    </li>
    Sex
    <li>
      <%= @horse.sex %>
    </li>
    Breed
    <li>
      <%= @horse.breed %>
    </li>
    Owner
      <li>
        <%= link_to "#{@owner.name}", owner_path(@owner) %>
      </li>
    Undone  Activities
    <table id="horse_activities">
      <thead>
      <tr>
        <th>Date</th>
        <th>Procedure</th>
        <th>Activity</th>
        <th>Price</th>
        <th>Comment</th>
        <th>Check</th>
        <th></th>
      </tr>
      </thead>
      <tbody>

    <tbody>
      <%= form_tag(update_activities_path(:horse_id => @horse.id)) do %>
        <% @horse_activities.each do |activity| %>
          <tr>
            <td>
              <%= activity.date.to_date %>
            </td>
            <td>
              <%= activity.procedure.name %>
            </td>
            <td>
              <%= activity.activity.name %>
            </td>
            <td>
              <%= activity.price %>
            </td>
            <td>
              <%= activity.comment %>
            </td>
            <td>
              <%if activity.status == 1%>
                <%= check_box("done", "id", {:multiple => true}, activity.id, nil) %>
              <% end %>
            </td>
            <td>
              <%= link_to "edit", edit_horse_activity_path(activity), :method => :get, class: "btn btn-default"%>
            </td>
             <td>
              <%= link_to "delete", destroy_from_horse_path( :horse_id => @horse.id, :activity_id => activity.id), :method => :get, :data =>{:confirm => 'Delete this activity will also lead to deleting its following activities.
            Are you sure?'},class: "btn btn-default"%>
            </td>
          </tr>
        <% end %>
        <div>
          <div style="width: 120px">
          <%= submit_tag("Update", class: "btn btn-default") %>
          </div>
        </div>
      <% end %>
    </tbody>
    </table>
  </tl>
  <div>
    <%= link_to "Add Procedure", procedure_menu_path(:horse_id => @horse.id), class: "btn btn-default" %>
  </div>
  <div>
    <%= link_to "Completed Activities", horse_activities_path(:horse_id => @horse.id) %>
  </div>
<div>
  <%= link_to "Back to horses list", horses_path %>
</div>
</tbody>

<!-------------------show documents in a table-------------------------></>

<table>
<!-------------------the headings of the table-------------------------></>
<% docs = @owner.docs.where(:owner_horse_id => @horse.id ).order("date ASC") %>
  <tr>
    <td id ="firstColumn">
       <b>Documents: </b>
    </td>
    <td id = "secondColumn">
      <%=docs.length.to_s%>
    </td>
    <td id = "thirdColumn">
       <%= button_to "Add Document", horse_generate_document_path(@horse.id), :method => :get %>
    </td>
  </tr>
  <!----------------links to documents and other details ----------------------------></>
  <% docs.each do |d|%> 
    <tr>
      <td>
        <i>
          <%= d.created_at.to_formatted_s(:iso8601)  %>
        </i>
      </td>
      <td>
        <%= link_to d.short_name, doc_show_path(d)%>
      </td>
      <td>
        <p>
          <%= link_to "Delete", doc_destroy_path(d.id), :confirm => "Are you sure?"%>
        </p>
      </td>
      <td>
        <%= d.description %>
      </td>

    </tr>
  <%end%>
  
  <!--------------------------------------------></>
</table>