<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
    <h1>
      <%= gravatar_for @user %>
      <%= @user.name %> </h1>
    </section>

    <li><%= link_to "Horses List", horses_path, method: "get"%></li>
    <li><%= link_to "Customers List", owners_path, method: "get" %></li>
    <li><%= link_to "Calendar", calendars_show_path, method: "get"%></li>
    <li><%= link_to "Procedures", procedures_path, method: "get"%></li>
    <li><%= link_to "Activities", activities_path, method: 'get'%></li>
    <%= form_tag(horses_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search horse's name or age or sex or breed" %>
        <%= submit_tag "Search", :name => nil %>
    <% end %>

    <%= form_tag(owners_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search owner's name or address or email or comments or phone or fax" %>
        <%= submit_tag "Search", :name => nil %>
    <% end %>


  </aside>



</div>
