

<h2><%="File Name: " + @doc.short_name.to_s%></h2>
    <p>Description:</p> 
    <p><%=@doc.description%></p>
<br/>
<% file = @doc.file_name.url %>
<% extension = @doc.file_name.file.extension.downcase %>

<% if %w{jpg png jpg gif bmp}.include?(extension) %>
      <iframe src=<%= @doc.file_name.url %> width="100%" height="780"> </iframe>
  <%elsif extension == "pdf" %>
  
    <iframe src=<%= @doc.file_name.url %> width="100%" height="780"> </iframe>
  <%elsif %w{docx docm dotm dotx xlsx xlsb xls xlsm pptx ppsx ppt pps pptm potm ppam potx ppsm}.include? (extension) %>
    <% file_address = "#{request.protocol}#{request.host_with_port}" + @doc.file_name.url %>
    <% address = "mirosoft", "https://view.officeapps.live.com/op/embed.aspx?src=#{file_address}" %>
    <p>
      <%= file_address %>
    </p>
    <p>
      <%= address %>
    </p>
    <iframe  src='http://view.officeapps.live.com/op/embed.aspx?src=<%address%>' width='100%' height='780'></iframe>
    <iframe  src=<%"http://view.officeapps.live.com/op/embed.aspx?src=#{address}"%> 
      width='100%' height='780'></iframe>
    
    <p>
      <%= link_to "mirosoft", address.to_s%>
    </p>

   
    
  <%else %>
  <p><b>No Preview Is Available</b></p>
<%end%>
<br/>
<br/>
<%= link_to "Download", doc_download_file_path(@doc)%>
<br/>
<br/>
<%=link_to "Back to Owner's Page", doc_redirect_to_owner_path(@doc)%>

