<html>
<h1>Edit Chain</h1>
<tl>
    <%= label :procedure, :name, "Procedure's name" %>
    <%= @procedure.name %>

<%= form_tag chains_path()do  %>


    <%= label :chain, :activity_id, 'Activity' %>
    <%= collection_select(:chain, :activity_id, Activity.all, :id, :name) %>

    <%= label :chain, :activity_order, 'Order' %>
      <%= text_field :chain, 'activity_order' %>

    <%= label :chain, :comment, 'Comment' %>
    <%= text_field :chain, 'comment' %>

    <%= hidden_field_tag "procedure_id", @procedure.id %>

    <%= submit_tag 'Add' %>
<% end %>

<table id="chains">
  <thead>
    <tr>
      <th>Activity name</th>
      <th>Activity order</th>
      <th>comment</th>
    </tr>
  </thead>
  <tbody>

    <% @activities.each do |activity| %>
      <tr>
        <td>
          <%= activity.activity.name %>
        </td>
        <td>
          <%= activity.activity_order %>
        </td>
        <td>
          <%= activity.comment %>
        </td>
        <td>
          <%= link_to "delete", chain_path(activity, :procedure_id => @procedure.id), :method => :delete, class: "btn btn-default" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</tl>
<%= link_to "Back to procedure", procedure_path(@procedure) %>
</html>