<html>
<h1>Add Chain</h1>
<body>

<%= form_tag chains_path do %>

    <%= label :chain, :order, 'Order' %>
    <%= text_field :order, 'order' %>


    <%= label :chain, :activity_id, 'Activity' %>
    <%= collection_select(:chain, :activity_id, Activity.all, :id, :name) %>

    <% @chains.each do |chain| %>
        <option value=<%= chain.order %>> <%= chain.procedure_id %> </option><br/>

    <% end %>



    <%= submit_tag 'Add' %>
    <% end %>


</body>
</html>