<h1>Add Procedure</h1>
<%= form_tag(controller: "horse_activities", method: "get",) do %>
  <table id = "horse_activities">
    <tbody>
    <th>Start Date</th> 
      <td>
        <div style="display:inline-block; width: 50%;">
          <%= select_date %>
        </div>
      </td>
    </tbody>
  </table>  
  <table id = "horse_activities">
        <thead>
      <tr>
        <th>Name</th>
        <th>Order</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Comment</th>
        <th>Reminder_order</th>
      </tr>
        </thead>
        <tbody>
          <% @count = 0 %>
          <% @activities.each do |activity| %>
            <tr>
              <td>
                <%= activity.activity.name %>
              </td>
              <td>
                <%= activity.activity_order %>
              </td>
              <td>
                <div id="horse_activities_text">
                  <%= text_field_tag "activity[id_#{@count}][price]", activity.activity.price %>
                </div>
              </td>
              <td>
                <div id="horse_activities_text">
                  <%= text_field_tag "activity[id_#{@count}][quantity]", 1 %>
                </div>
              </td>
              <td>
                <div id="horse_activities_text">
                  <%= text_field_tag "activity[id_#{@count}][comment]" %>
                </div>  
              </td>
              <td>
                <div id="horse_activities_text">
                  <%= text_field_tag "activity[id_#{@count}][reminder_order]" ,0 %>
                </div>
              </td>
              <td>
                <%= activity.comment %>
              </td>
            </tr>
              <%= hidden_field_tag "activity[id_#{@count}][activity_id]", activity.activity_id %>
              <%= hidden_field_tag "activity[id_#{@count}][order]", activity.activity_order %>
            <% @count= @count+1 %>  
          <% end %>
          <%= hidden_field_tag "horse_id", @horse.id %>
          <%= hidden_field_tag "procedure_id", @procedure.id %>
        </tbody>
    </table>
  <div>
    <div style="display: inline-block; padding: 14px">
      <%= button_to "Add Procedure", horse_activities_path(), class:"btn btn-default" %>
  </div>
<% end %>
</div>
<div>
  <%= link_to "Back to select procedure", procedure_menu_path(:horse_id => @horse.id) %>
</div>
