<html>
 <h1>Completed activities</h1>
 <tl>
   <table id="horse_activities">
    <thead>
    <tr>
      <th>Procedure</th>
      <th>Activity</th>
      <th>Date</th>
      <th>Price</th>
      <th>Comment</th>
    </tr>
    </thead>
     <tbody>

      <% @done_activities.each do |activity| %>
       <tr>
         <td>
           <%= activity.procedure.name %>
         </td>
         <td>
           <%= activity.activity.name %>
         </td>
         <td>
           <%= activity.date.to_date %>
         </td>
         <td>
           <%= activity.price %>
         </td>
         <td>
           <%= activity.comment %>
         </td>
       </tr>
      <% end %>
     </tbody>
   </table>
   <div align="center"><%= paginate @done_activities %></div>
   <%= link_to "Back to horse", horse_path(@horse)%>
 </tl>
 </html>