<h1>Procedure</h1>
<table id="procedures">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Edit</th>
    <th>Delete</th>

  </tr>
  </thead>
  <tbody>


  <% @procedures.each do |procedure| %>
      <tr>
        <td>
          <%= procedure.id%>
        </td>
        <td>
          <%= link_to "#{procedure.name}", procedure_path(procedure) %>
        </td>
        <td>
          <%= button_to "Edit", edit_chain_path(procedure), :method => :get %>
        </td>
        <td>
          <%= button_to "Delete", procedure_path(procedure), :method => :delete, :data =>{:confirm => 'Warning! There may be horses still under this procedure, and would cause errors if deleted.Are you sure?'} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= button_to 'New procedures', new_procedure_path, :method => :get %>